.DS_Store
.google.token
.HA_VERSION
.uuid

.storage/
.cloud/
.automatic/
deps/
./tts/*

secrets.yaml
google_calendars.yaml
known_devices.yaml

nest.conf
harmony_harmony_hub.conf

home-assistant_v2.db
*.db*

home-assistant.log

OZW_Log.txt

pyozw.sqlite

*.xml
